
.swiper-button-prev,
.swiper-button-next {
  width: 30px; 
  height: 30px; 
  opacity: 0;
  transition: all ease-in .3s;
}

.swiper-bg:hover .swiper-button-next, .swiper-bg:hover .swiper-button-prev{
    opacity: 1;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px;
  color: rgb(16, 177, 11);
}

@media screen and (max-width:576px) {
  .swiper-button-prev,
.swiper-button-next {
  width: 20px; 
  height: 20px; 
  opacity: 1;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 14px;
  color: rgb(16, 177, 11);
}
}